.headerLeft {
    color: #13416d;
    font-size: medium;
    font-weight: 500;
}


.arrowLeft {
    color: #8293b9;
    font-size: 20px;
}

.headerRight {
    color: #0388cc;
    font-size: small;
    font-weight: 500;
}

